/* IMPORTING GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CUSTOM SCROLLBAR  */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#642BFF, #FF22E6);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #D1E5FF;
}

.hero {
    padding-top: 14vh;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(128, 0, 128, 0.5), rgba(128, 0, 128, 0.5)), url(../images/search.jpg);
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 5vh;
}

.hero h1 {
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
}

.hero p {
    font-size: 1.6rem;
    text-align: center;
    width: 60%;
}

.hero input {
    margin-top: 4vh;
    height: 5rem;
    width: 40rem;
    border-radius: 30px;
    background-color: #fff;
    border: none;
    outline: none;
    color: purple;
    font-size: 1.8rem;
    padding-left: 2vw;
}

.hero input::placeholder {
    font-size: 1.8rem;

    color: black;
}

.hero input:focus {
    font-size: 1.8rem;
    padding-left: 2vw;
    color: purple;

}

.input-container {
    position: relative;
    display: inline-block;
}

.searched-btn {
    transform: translateY(-50%)
}

.input-container i {
    cursor: pointer;
    color: purple;
    font-size: 4rem;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
}


.searched-books {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.9rem;
    justify-content: center;
    margin-bottom: 10vh;

}

.book-imgs {
    height: 35rem;
    width: 25rem;
}

.book-imgs:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.book-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    text-align: center;


}

.book-titles {
    font-family: 'Poppins:wght@400', sans-serif;
    font-size: 2.3rem;
    color: #001625;
    font-weight: 600;
}

.book-authors {
    font-family: 'Poppins:wght@200', sans-serif;
    font-size: 1.6rem;
    color: #14A1E8;
}

.book-seriess {
    margin-top: 1.4vh;
    font-family: 'Poppins:wght@200', sans-serif;
    font-size: 1.6rem;
    color: red;
}

.book-types {
    margin-top: 1.4vh;
    color: green;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#fav-btns {
    margin-top: 2vh;
    color: #fff;
    background: #14A1E8;
    padding: 10px 20px;
    width: fit-content;
    border: none;
    font-weight: 400;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
}

#fav-btns:hover {
    box-shadow: 0 0 1.5rem #14A1E8;
}

.heading {
    font-size: 3rem;
    padding: 8vh 0 0 5vw;
    color: purple;
    display: none;
}

.hide {
    display: block;

}
